fastapi
uvicorn[standard]

python-multipart

tensorflow
opencv-python
pillow
numpy

sqlalchemy

pydantic
pydantic-settings

google-generativeai

python-dotenv

matplotlib

scikit-image

grad-cam

aiofiles

httpx