@import "tailwindcss";

html{

scroll-behavior:smooth;

}

body{

background:#05070B;

color:white;

font-family:Inter,system-ui,sans-serif;

overflow-x:hidden;

}

::selection{

background:#00E5FF;

color:black;

}

.glass{

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

}

.glow{

box-shadow:

0 0 20px rgba(0,229,255,.25);

}

.section{

max-width:1400px;

margin:auto;

padding-inline:2rem;

}

.gradient-text{

background:linear-gradient(
90deg,
#00E5FF,
#2F6BFF
);

background-clip:text;
	-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

@keyframes float{

0%{

transform:translateY(0px);

opacity:.2;

}

50%{

transform:translateY(-40px);

opacity:1;

}

100%{

transform:translateY(0px);

opacity:.2;

}

}

.animate-float{

animation:float 8s ease-in-out infinite;

}


@keyframes scanner{

0%{

transform:translateY(-250px);

opacity:0;

}

50%{

opacity:1;

}

100%{

transform:translateY(250px);

opacity:0;

}

}